.info-btn-wrapper {
  height: 36px;
}

.left-button-content {
  height: 36px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-button-balance {
  font-size: 14px;
  font-weight: 800;
}

.left-button-discount {
  width: 20px;
  height: 14px;
  font-size: 8px;
  font-weight: 900;
  line-height: 14px;
  background-color: var(--blue);
  border-radius: 3px;
}
