@use "modules/common/globalStyles/media";

.amount-selector-container {
  text-align: center;
  margin-top: 30px;
}

.amount-input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  background-color: var(--gray);
  width: 100%;
  height: 48px;
  padding: 0 10px;
  border-radius: 4px;
}

.amount-input-wrapper{
  width: 130px;
  height: 100%;
  position: relative;
  font-weight: 800;

  @include media.size(medium) {
    font-size: 18px;
  }

  &::after {
    content: "$";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: 12px;
    left: 46px;
    pointer-events: none;
  }
}

.amount-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 60px;
  color: white;
  font-weight: 800;
  font-size: 16px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;

  &:focus {
    outline: none;
  }
}

.amount-btns-wrapper {
  display: flex;
  margin: 10px 0 14px;
  gap: 6px;

  @include media.size(medium) {
    gap: 14px;
  }
}

.amount-btn {
  font-size: 12px;
  font-weight: 800;

  @include media.size(medium) {
    font-size: 16px;
  }
}

.amount-info {
  font-size: 12px;
  font-weight: 500;

  @include media.size(medium) {
    font-size: 14px;
  }
}
