@use "modules/common/globalStyles/media";

.modal-select {
  &__control {
    height: 70px;
    border: none!important;
    border-radius: 9px!important;
    cursor: pointer!important;
    background-color: var(--gray-dark)!important;
    box-shadow: 4px 4px 5px 0 var(--black), -5px 0px 5px 0px var(--black-v1);
  }

  &__indicator-separator {
    display: none;
  }

  &__option {
    cursor: pointer!important;
    &--is-focused {
      background-color: var(--blue) !important;
    }
    &--is-selected {
      background-color: var(--blue) !important;
    }
  }

  &__menu {
    border-radius: 9px!important;
    background-color:  var(--gray-dark)!important;
  }
}

.custom-option {
  display: flex;
  align-items: center;
}

.custom-option-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
  margin: 0 4px;

  @include media.size(medium) {
    margin: 0 10px;
  }

  & > span:first-child {
    font-size: 10px;
    font-weight: 800;
    line-height: 12px;

    @include media.size(medium) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  & > span:last-child {
    font-size: 6px;
    font-weight: 400;
    line-height: 12px;

    @include media.size(medium) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
